<section class="header">
    <nav>
        <img src="assets/images/logo.png" alt="Logo">
        <div class="nav-links" id="navLinks">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">COURSE</a></li>
                <li><a href="">BLOG</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </div>
    </nav>
    <div class="text-box">
        <h1>World's Biggest University</h1>
        <p>This is a famous university in the world. The university offers thousands of majors
            ranging from social and economic sciences<br> to archaeology, astronomy and naturalism.</p>
        <a href="" class="hero-btn">Visit Us To Know More</a>
    </div>
</section>