<section class="course">
    <h1>Courses We Offer</h1>
    <span>Enter the course you are interested in.</span> <app-search></app-search>
    <div class="row">
        <div class="course-col">
            <h3>Intermediate</h3>
            <p>For new students who have just started entering university, they will begin to get
            acquainted with a lot of new subjects that you have never heard of in high school. One
            of the subjects you learn in your first year at school is Advanced Mathematics.</p>
        </div>
        <div class="course-col">
            <h3>Degree</h3>
            <p>For new students who have just started entering university, they will begin to get
            acquainted with a lot of new subjects that you have never heard of in high school. One
            of the subjects you learn in your first year at school is Advanced Mathematics.</p>
        </div>
        <div class="course-col">
            <h3>Post Graduation</h3>
            <p>For new students who have just started entering university, they will begin to get
            acquainted with a lot of new subjects that you have never heard of in high school. One
            of the subjects you learn in your first year at school is Advanced Mathematics.</p>
        </div>
    </div>
</section>
